*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
   body{
    font-family: montserrat;
  }
  nav{
    background: #cb4335;
    height: 80px;
    width: 100%;
    margin-top: 1cm;
  }
  
    
  
  label.logo{
    color: black;
    font-size: 40px;
    line-height: 80px;
    padding: 0 100px;
    margin-top: -1cm;
    margin-left: -1cm;
    margin-bottom: -1cm;
    
    
  
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    
   
  
  }
  nav li.love{
    color: black;
    height: 20px;
    line-height: 80px;
  }
  a.active,a:hover{
    background: black;
    transition: .5s;
  }
  
  a.logi,a:hover{
    background-color: black;
    transition: .5s;}
    .nnnn1
  {
    width:1200px;
    
    margin: auto;
    color: black;
    position: relative;
    margin-top: -1.75cm;
    margin-left: 5cm;
  }
  .nnnn111 .par111
  {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    margin-left: 14cm;
    margin-top: 2cm;
    
  }
 
  .nnnn111 .civ11{
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   padding-left: 20px;
   margin-top: 2cm;
   margin-left: 3cm;
 
   letter-spacing: 2px;
   

 }
 .nnnn111 .civ2222{
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   padding-left: 20px;
   
 
   letter-spacing: 2px;
   color: rgb(28, 30, 31);
   margin-left:5cm;
   margin-top: 1cm;
   

 }
 .nnnn111 span{
   color: #cb4335;
   margin-left:3cm;
   
 }
 .canimg
 {
    
     height: 300px;
     margin-top: -4cm;
     margin-left: 3cm;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .imh22{
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   margin-top: -2cm;
   margin-left: 1cm;
 }
 .fotter{
  background-color:#cb4335 ;
  color: white;
 
  font-size: 20px;
 width: 100%;
 
  height: 6cm;
  
}
.fotter ul{
  display: inline-block;
 margin-right: 3cm;

}
.fotter ul a{
 color: #bfdced;
 text-decoration: none;
}
.fotter img{
  height: 2cm;

}
.fotter p{
  opacity: 0.7;
  font-size: 0.4cm;
  word-spacing: 0.1cm;
  margin-top: 1cm;
  margin-left: 14cm;
}
.fff00{
 color: black;
}
