
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: montserrat;
}
nav{
  background:#cb4335;
  height: 80px;
  width: 100%;
  margin-top: cm;
}

  

label.logo{
  color:rgb(0, 0, 0);
  font-size: 40px;
  line-height: 80px;
  padding: 0 100px;
  margin-top: -1cm;
  margin-left: -1cm;
  margin-bottom: -1cm;
  
  

  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  
 

}
nav li.love{
  color: black;
  height: 20px;
  line-height: 80px;
}
a.active,a:hover{
  background: rgb(0, 0, 0);
  transition: .5s;
}

a.logi,a:hover{
  background-color:rgb(0, 0, 0);;
  transition: .5s;
}
div.home33 {
 
    background-image: url('why\ to\ donate\ img22.jpeg');
   width: 100%;
   height: 650px;
   background-repeat: no-repeat;
   background-size: cover;
 
    
  }
  .nnnn1
  {
    width:1200px;
    
    margin: auto;
    color: rgb(255, 255, 255);
    position: relative;
    margin-top: -1.75cm;
    margin-left: -1cm;
  }
  .nnnn1 .par11
  {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color: #fff;
    margin-left: -1cm;
    
  }
  .nnnn1 .civ1{
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   padding-left: 20px;
   margin-top: 9%;
 
   letter-spacing: 2px;
   margin-left: -1cm;
   

 }
 .nnnn1 .civ2222{
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   padding-left: 20px;
   
 
   letter-spacing: 2px;
  
   margin-left: -1cm;
   color: #c0462e;
   

 }
 .nnnn1 span{
   color: #ffffff;
   
 }



.scff{
 margin-left: 5cm;
top: 375px;
 left: 575px;
 
}
.srch{
 font-family: 'Times New Roman', Times, serif;
 width: 19cm;
 height: 40px;
 background-color: white;
 border: 1px solid white;
 margin-top: 13px;
 color: aqua;
 border-right: none;
 font-size: 16px;
 margin-left: -5cm;
 margin-top: 1cm;
 padding: 10px;
 border-bottom-left-radius: 5px;
 border-top-left-radius: 5px;
 border-radius: 25px;
}
.scff placeholder{
 margin-left: 5cm;
}
.btnnn1{
 width: 100px;
 height: 40px;
 background: #cb4335;
 border: 2px solid #cb4335;
 margin-top: 13px;
 color: #f8f4f4;
 font-size: 15px;
 border-top-right-radius: 5px;
}
.fotter44{
  background-color:#cb4335 ;
  color: white;
 
  font-size: 20px;
 width: 100%;
 
  height: 6cm;
  margin-top: 1cm;
}
.fotter44 ul{
  display: inline-block;
 margin-right: 3cm;

}
.fotter44 ul a{
 color: #bfdced;
 text-decoration: none;
}
.fotter44 img{
  height: 2cm;

}
.fotter44 p{
  opacity: 0.7;
  font-size: 0.4cm;
  word-spacing: 0.1cm;
  margin-top: 1cm;
  margin-left: 14cm;
}
.fff00{
 color: black;
}
.email1{
 
  text-decoration: solid none;
  font-size: 20px;
 
}

 
 

  
